body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#search{
   width:84%;
   height:30px;
   margin-right:280px;
   margin-top:30px;
}
body{
    background-color:rgb(33, 33, 33);
    color: aliceblue;
}
.product{
    justify-content: center;
    text-align: center;
    margin-top: 40px;   
}
.search-box {
    position: relative;
}
/* #3B4953 */
.search-box .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.search-box input {
    padding-left: 35px;
}


.product h1{
    font-size: 50px;
}
img{
    width:250px;
    height:200px;
    background-color: rgb(59, 58, 58);
}
.prdt{
  padding:40px;
  margin-left:20px ;
  margin-right: 50px;
  display:flex;
  gap:50px;
}
.items{
    background-color: rgb(158, 158, 158);
    text-align: center;
    padding-bottom:15px;
    color: black;
}
.prdt-1{
  padding:40px;
  margin-left:20px;
  margin-right: 50px;
  display:flex;
  gap:50px;
}

    .products, .cart {
      /* flex: 1; */
      /* background: #343434; */
      /* padding: 15px; */
      border-radius: 5px;
      color:aliceblue;
    }

    .product-card {
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .product-card.expensive {
      border: 2px solid red;
      background: #ffecec;
    }

    button {
      padding: 5px 10px;
      cursor: pointer;
    }

    .cart-item {
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
    }

    .cart-item:last-child {
      border-bottom: none;
    }

    .quantity-btn {
      margin: 0 5px;
    }

    .total {
      font-weight: bold;
      margin-top: 10px;
    }
.cart{
    padding-bottom:5%;
    background-color:rgb(69, 69, 69);
}
#cartItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
