*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
  
}
body{
     background-color: #07141f;}

     canvas { 
    background: #222;
    margin-left:34%;
    margin-top: 20px;}


img{
    margin-top:-12%;
}
.navbar{
   height:140px;
   display: flex;
    text-align:center;
    margin-left:-5%;
    justify-content: center;
    background-color: #1e3548;
}

.bttn{
    background-color: #0ea5a8;
    border: 0;
    padding: 10px 14px;
    border-radius: 8px;
    color: #032024;
    font-size: 15px;
    font-weight: 600;
    height:60px;
    cursor: pointer;
}
.secondary{
    background:#929292;
    color: #a8d3ff;
    /* border: 1px solid rgba(168, 211, 255, 0.12); */
     border: 0;
    padding: 10px 14px;
    border-radius: 8px;
    color: #032024;
    font-size: 15px;
    font-weight: 600;
    height:60px;
    cursor: pointer;
}
.controls {
   display: flex;
    gap: 8px;
    margin: 12px 0;
    justify-content: center;
}    
.controls button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.stats{
    background-color:#b3d4f0; 
    padding: 10px;
    border-radius: 5px;
    min-width: 120px;
    text-align: center;
    font-size: 20px;
}
.status {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 12px 0;
}

.logo img{
    margin-right:60px;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

thead {
    background: #111827;
    color: #ffffff;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f3f4f6;
}

tbody tr:hover {
    background-color: #e5e7eb;
}

/* Action colors */
td.buy {
    color: #16a34a;
    font-weight: bold;
}

td.sell {
    color: #dc2626;
    font-weight: bold;
}

td.hold {
    color: #ca8a04;
    font-weight: bold;
}


