* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

body {
    /* background-color: #f5f7fa; */
    background-color: #0b161e;
    color: #ffffff;
    line-height: 1.6;
}

/* Header */
/* {
    background: linear-gradient(to right, #d6336c, #f06595);
    color: white;
    text-align: center;
    padding: 2.5rem 1rem;
} */

.navbar ul li{
    list-style:none;
    font-size: 18px;
    color:rgb(255, 255, 255);
    /* color: rgb(255, 255, 255); */
} 
.navbar {
    display: flex;
    justify-content: center;
    background-color: #676772;
    
    padding:20px;
    /* flex-wrap: wrap; */
    justify-content: space-between; 
    width: 100%!important;
}
.navbar .nav1{
    gap:40px;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-weight: bold;
}
.nav-link:hover{
    transform: scale(1.2);
    background-color: rgb(243, 235, 235);
    width:100px;
    height:30px;
    text-align:center;
}

.navbar a:hover {
    background-color :rgb(95, 94, 94);
}

/* Sections */
.container {
    /* max-width: 1100px; */
    margin: auto;
    padding: 2rem;
    font-size:20px;
}

/* Cards */
.cards {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin:30px;
   
}

.card {
    background: #142838;
    color:#ffffff;
    padding: 20px;
    height:10%;
    width:25%;
    margin-left:60px;
    /* border-radius: 10px; */
    /* flex: 1 1 280px; */
    /* box-shadow: 0 4px 10px rgba(0,0,0,0.1); */
    transition: transform 0.3s;
}
.card1{
    display:flex;
    background: #142838;
    color:#ffffff;
    padding: 20px;
    height:10%;
    width:25%;
    transition: transform 0.3s;
    margin-left:60px;
}
.card:hover {
    transform: translateY(-5px);
}
.card1:hover {
    transform: translateY(-5px);
}

/* List */
ul {
    margin-left: 1.5rem;
}

/* Footer */
footer {
    background-color: #1b2024;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    display:flex;
    justify-content: space-around;
    list-style: none;
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .cards {
        flex-direction: column;
    }
}
img{
     animation: side 4s linear infinite;
}
@keyframes side {
    from{
        transform: translateY(10%);
       
    }
    to{
        transform: translateY(0%);
        
    }
}
.topic{
    animation: slide 4s linear infinite;
}
@keyframes slide {
    from{
        transform: translateY(7%);
       
    }
    to{
        transform: translateX(5%);
        
    }
}
h1{
    animation: show 2s linear infinite;
}
@keyframes show {
    from{
        transform: translateY(10%);
       
    }
    to{
        transform: translateX(0%);
        
    }
}


